*{
    user-select: none;
}
body{
    /* background-image: url(images/background.png); */
    background-image: linear-gradient(121deg,#008ed0ff,#02bce8ff);
    background-repeat: no-repeat;
    margin: 0;
    background-position: bottom;
    font-family: 'StratosSkyeng';
}
.wrapper{
    background-image: url(images/i\ \(4\).webp);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}
.content{
    padding-top:75px;
    position: relative;
}
table{
    width: 1200px;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: yellow;
}
tr,td{
    border: 25px solid yellow;
    position: relative;
}
.table-cat-img{
    width: 560px;
    height: 350px;
}
p{
    width: max-content;
    position: absolute;
    font-size: 30px;
    background-color: #fff;
    border-radius: 25px;
    padding: 10px 30px 10px 30px;
    margin: 23px auto;
}
a{
    background-image: linear-gradient(21deg, #dd03e4, #5611ec);
    display: block;
    color:#fff;
    padding: 11px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 38px;
    position: absolute;
    right: 80px;
    bottom: 75px;
}